

.custom-nav1 {
    color: #ffffff;
    background-color: #a91414;
    font-size: 11px;
    height: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.custom-nav1 p {
    margin: 0;
}

.custom-nav2 {
    color: #ffffff;
    background-color: #16336d;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    height: 40px;
}

.custom-nav2 p {
    margin: 0;
}

.custom-nav3 {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.full-screen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-boxes a {
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.description-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 20px; 
    padding-right: 20px;
}

.small-image {
    max-width: 250px;
    height: auto;
}

.description-card {
    margin-top: 50px;
    margin-bottom: 100px;
}

.image-boxes {
    margin-top: 50px;
}

.navbar-nav .nav-link {
    margin: 0 30px;
}

.navbar-nav .nav-item .nav-link {
    color: #000000; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #c60b0b;
}

.sign-in-link {
    color: #c60b0b; 
    transition: color 0.3s ease; 
    font-weight: bold;
}

.sign-in-link:hover {
    color: #c60b0b;
}


.image-container1 {
    position: relative;
    max-width: 100%;
}
  
.full-screen {
    width: 100%;
    height: auto;
}
  
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.image-text p1 {
    font-size: 35px;
}
  
.image-text p2 {
    font-size: 16px;
}

.full-screen {
    width: 100%;
    height: auto;
}

.registration-form {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


  

.full-screen {
    width: 100%;
    height: auto;
}

.registration-form {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 85%; 
    max-width: 440px; 
    background: #ffffff;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-button {
    background-color: #16336d;
    color: white;
}


.square {
    margin-left: 60px;
    margin-right: 100px;
    margin-top: 100px;
    width: 1350px;
    height: 1000px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.square img {
    max-width: 100%;
    max-height: 100%;
}
  
  .caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
  }

  .square {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .card-body a {
    color: #c60b0b; 
    text-decoration: none;
  }

  .card-body a:hover {
    color: #c60b0b; 
    text-decoration: underline;
  }



  .footer {
    text-align: center;
    padding: 4rem;
background: linear-gradient(rgba(1,23,80,0.9), rgba(1,23,80,0.9)), url('img/flag.png');
    background-size: 100% 100%;
    color: white; 

  }
   
    
  
  .logo {
    margin-right: 15px;
    width: 0.5px;
  }

 .divider {
    border-top: 1px solid white; 
    margin: 10px 0;
    width: 100%;
  }
  .footer p {
    margin: 0;
  }

  .footer a {
    color: #ffa500; 
  }
  .footer-content {
    text-align: left;
    font-family: 'Roboto';
    font-size: 10px;
  align-items: center;
  }
  
  .footer-column {
    width: calc(33.33% - 30px); 
    padding: 0 15px;
    box-sizing: border-box;
          font-size: 8pt;
          align-items: center;
  }
    .footer-column h6 {
    font-weight: bold;

  }
  @media (max-width: 768px) {
    .footer-content {
      text-align: center; 
    }
  }

  .custom-nav1 {
    color: #ffffff;
    background-color: #a91414;
    font-size: 11px;
    height: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.custom-nav1 p {
    margin: 0;
}

.custom-nav2 {
    color: #ffffff;
    background-color: #16336d;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    height: 40px;
}

.custom-nav2 p {
    margin: 0;
}

.custom-nav3 {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.full-screen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-boxes a {
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.description-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 20px; 
    padding-right: 20px;
}

.small-image {
    max-width: 250px;
    height: auto;
}

.description-card {
    margin-top: 50px;
    margin-bottom: 100px;
}

.image-boxes {
    margin-top: 50px;
}

.navbar-nav .nav-link {
    margin: 0 30px;
}

.navbar-nav .nav-item .nav-link {
    color: #000000; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #c60b0b;
}

.sign-in-link {
    color: #c60b0b; 
    transition: color 0.3s ease; 
    font-weight: bold;
}

.sign-in-link:hover {
    color: #c60b0b;
}


.image-container1 {
    position: relative;
    max-width: 100%;
}
  
.full-screen {
    width: 100%;
    height: auto;
}
  
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.image-text p1 {
    font-size: 35px;
}
  
.image-text p2 {
    font-size: 16px;
}

.full-screen {
    width: 100%;
    height: auto;
}

.registration-form {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


  

.full-screen {
    width: 100%;
    height: auto;
}

.registration-form {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 85%; 
    max-width: 440px; 
    background: #ffffff;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-button {
    background-color: #16336d;
    color: white;
}


.square {
    margin-left: 60px;
    margin-right: 100px;
    margin-top: 100px;
    width: 1350px;
    height: 1000px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.square img {
    max-width: 100%;
    max-height: 100%;
}
  
  .caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
  }

  .square {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .card-body a {
    color: #c60b0b; 
    text-decoration: none;
  }

  .card-body a:hover {
    color: #c60b0b; 
    text-decoration: underline;
  }



  .footer {
    text-align: center;
    padding: 4rem;
background: linear-gradient(rgba(1,23,80,0.9), rgba(1,23,80,0.9)), url('img/flag.png');
    background-size: 100% 100%;
    color: white; 

  }
   
    
  
  .logo {
    margin-right: 15px;
    width: 0.5px;
  }

 .divider {
    border-top: 1px solid white; 
    margin: 10px 0;
    width: 100%;
  }
  .footer p {
    margin: 0;
  }

  .footer a {
    color: #ffa500; 
  }
  .footer-content {
    text-align: left;
    font-family: 'Roboto';
    font-size: 10px;
  align-items: center;
  }
  
  .footer-column {
    width: calc(33.33% - 30px); 
    padding: 0 15px;
    box-sizing: border-box;
          font-size: 8pt;
          align-items: center;
  }
    .footer-column h6 {
    font-weight: bold;

  }
  @media (max-width: 768px) {
    .footer-content {
      text-align: center; 
    }
  }